{{!< default}}

<div id="masonry" class="l-4c">
    <div class="grid-sizer" style="width: 0 !important;">&nbsp;</div>
    {{#foreach posts}}
        <a class="foxy-item item wide {{post_class}}" href="{{url}}">
            <div class="foxy-item-inside">
                <h1 class="foxy-item-title">{{title}}</h1>
                <p class="foxy-item-excerpt">{{excerpt words="26"}}</p>
                <!--{{tags prefix=" on "}}-->
                <div class="foxy-item-info">
                    <time class="" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM
                    YYYY"}}</time><span>Read more <i class="material-icons md-18">arrow_forward</i></span>
                </div><!-- .foxy-item-info -->
            </div><!-- .foxy-item-inside -->
        </a><!-- .foxy-item -->
    {{/foreach}}
</div>
