{{!< default}}

<div id="masonry" class="l-4c">
    <div class="grid-sizer" style="width: 0 !important;">&nbsp;</div>
    {{#foreach posts}}
        <a class="foxy-item item{{masonry title}} {{post_class}}" href="{{url}}">
            <div class="foxy-item-inside">
                <h1 class="foxy-item-title">{{title}}</h1>
                <!--{{tags prefix=" on "}}-->
                <p class="foxy-item-excerpt">
                    {{{foxyExcerpt (content words="100")}}}
                </p>
                <div class="foxy-item-info">
                    <span>Read more ></span>
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                </div><!-- .foxy-item-info -->
            </div><!-- .foxy-item-inside -->
        </a><!-- .foxy-item -->
    {{/foreach}}
</div>
